
    <% @teams.sort_by! {|team| [-team.points, -team.goal_difference, -team.goals_for]} %>
    <div id="teamcontainer">
        <ol class="teams">
        <% @teams.each do |team| %>
          <%=link_to(team) do %>
            <li>
            <div class="teamrecord"><%=team.games_won%> - <%=team.games_drawn%> - <%=team.games_lost%>  </div>
         <!--    <% imgpath = "#{team.name.downcase.gsub(" ","-")}.png" %> -->
            <%= image_tag image_path(team.name.downcase.gsub(" ","-")+".png"), :height => '150' %></a>
            <div class="teamname"><%= team.name %></div>
            <div class="teampoints"><%= team.points %></div>
            </li>
        <% end %>
        <% end %>
        </ol>
    </div>
        
    <br style="clear:both" />
        
        
    <footer>
        <p class="footerinfo">built with <a href="http://www.ruby-lang.org">Ruby</a> by <a href="http://www.github.com/estiens">Eric</a> at <a href="http://www.bitmakerlabs.com">Bitmaker Labs</a></p>
        <% team = @teams.first %>
        Table last updated at: <%= team.updated_at.to_s %>
    

    </footer>
      
</body>
</html>

   
