<div id="container">
    <div id="teampicture">
        <%= link_to(root_path) do %>
            <%= image_tag image_path(@team.name.downcase.gsub(" ","-")+".png"), :height => '150' %>
        <% end %>
    </div>
    <div id="results_info">
        
    </div>
    <div id="infobox">
        <div id="resultsinfo">
            <%=@team.games_won%> wins | <%=@team.games_drawn%> draws | <%=@team.games_lost%> losses<br />
        <%= @team.goals_for %> goals for | <%= @team.goals_against %> goals against | <%= @team.points %> points 
        </div>
        <div id="lastmatch">
            <p>Last Match vs
                <%= @team.fixture.last_match_team %> <br />
                <%= @team.fixture.last_match_result %>
            </p>
        </div>
        <div id="nextmatch">
            <p>Next Match vs
            <%= @team.fixture.next_match_team %> <br />
            <%= @team.fixture.next_match_time.gsub("2013-","") %>-2013
            </p>
        </div>
    </div>
    <div id="bbcnewscontainer">
        <ul class="news">
            <% @team.news.each do |news| %>
            <% if news.source == "BBC NEWS" %>
            <li><a href="<%= news.url %>"><%= news.headline %></a></li>
            <% end %>
            <% end %>
        </ul>
        <h5 id="source_byline">Source:  BBC News</h5>
    </div>
    <div id ="othernewscontainer">
          <ul class="news">
            <% @team.news.where("source = 'TEAM INFO'").limit(12).each do |news| %>
            <li><a href="<%= news.url %>"><%= news.headline %></a></li>
            <% end %>
        </ul>
        
        <h5 id="source_byline">Source:  TEAM Feeds</h5>
    </div>
    <div id ="thirdnewscontainer">
    
    </div>
    <br style="clear:both" />
        
        
    <footer>
        <p class="footerinfo">built with <a href="http://www.ruby-lang.org">Ruby</a> at <a href="http://www.bitmakerlabs.com">Bitmaker Labs</a>.<br />     <% news = @team.news.first %>
        News last updated at: <%= news.updated_at.to_s %></p>
    </footer>

      <!--  t.string :next_match_team
      t.string :next_match_time
      t.string :last_match_team
      t.string :last_match_result -->